<!DOCTYPE html>
<html>
<head>
    <title>Place</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="icon" type="image/png" href="../../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>

<body>
<div class="container">

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="homeAdmin.html">
                        <img src="../../assets/img/guideon.png" alt="">
                    </a>
                </div>
                <ul>
                    <li><a href="destinationAdmin.html">Destination</a></li>
                    <li><a href="guideAdmin.html">Guide</a></li>
                    <li><a href="tourAdmin.html">Tour</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div id="chartContainer" style="height: 300px; width: 100%;">
        </div>
    </section>


    <section>

        <div class="row">
            <a href="addNewDestination.html">
                <button class="btn-new-place">Add New Destination</button>
            </a>
        </div>

        <div class="place">


            <div class="row">
                <div class="column">
                    <div class="card">

                        <img src="../../assets/img/papuma.jpg" alt="Avatar" style="width:100%;">
                        <h3>Papuma Beach</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>

                    </div>
                </div>


                <div class="column">
                    <div class="card">

                        <img src="../../assets/img/payangan.jpg" alt="Avatar" style="width:100%;">
                        <h3>Payangan Beach</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>

                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../../assets/img/sj88.jpg" alt="Avatar" style="width:100%;">
                        <h3>SJ88 Hill</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">

                        <img src="../../assets/img/watuulo.jpg" alt="Avatar" style="width:100%;">
                        <h3>Watu Ulo Beach</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="place">
            <div class="row">
                <div class="column">
                    <div class="card">

                        <img src="../../assets/img/papuma.jpg" alt="Avatar" style="width:100%;">
                        <h3>Papuma Beach</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>

                    </div>
                </div>

                <div class="column">
                    <div class="card">

                        <img src="../../assets/img/payangan.jpg" alt="Avatar" style="width:100%;">
                        <h3>Payangan Beach</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>

                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../../assets/img/jember.jpg" alt="Avatar" style="width:100%;">
                        <h3>Jember</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">

                        <img src="../../assets/img/jember.jpg" alt="Avatar" style="width:100%;">
                        <h3>Jember</h3>
                        <span class="time-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, blanditiis cupiditate dicta error eveniet incidunt laborum minima molestiae nobis, optio quidem repellat rerum vero voluptate? Aliquam eius possimus rerum.</span>
                        <p>Location : -8.265243, 113.0929783, 9</p>
                        <br>
                        <a href="editDestination.html">
                            <button class="btn-edit">Edit</button>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>


<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {

            title: {
                text: "Most Pupular Destination of the Week"
            },
            data: [//array of dataSeries
                { //dataSeries object

                    /*** Change type "column" to "bar", "area", "line" or "pie"***/
                    type: "column",
                    dataPoints: [
                        {label: "SJ88 Hill", y: 18},
                        {label: "Payangan Beach", y: 29},
                        {label: "Papuma Beach", y: 40},
                        {label: "Watu Ulo Beach", y: 34},
                        {label: "Puslit Kakao", y: 24}
                    ]
                }
            ]
        });

        chart.render();
    }
</script>

</body>
</html>
