<!DOCTYPE html>
<html>
<head>
    <title>Add Payment Method</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">


</head>

<body>
<div id="pay">

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="homeUser.html">
                        <img src="../assets/img/guideon.png" alt="">
                    </a>
                </div>

                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="wishlist.html">Saved</a></li>
                    <li><a href="homeUser.html">Near Me</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <div id="payment">
                <h1> Add New Payment Method</h1>
                <div class="form-pay">
                    <select name="" class="dd">
                        <option value="0">Select Bank</option>
                        <option value="1">Bank Central Asia (BCA)</option>
                        <option value="2">Bank Rakyat Indonesia (BRI)</option>
                        <option value="3">Bank Negara Indonesia (BNI)</option>
                        <option value="4">Bank Mandiri</option>
                    </select>
                    <input type="text" name="pass" class="inputtext single" placeholder="Account Number">
                    <input type="text" name="pass" class="inputtext single" placeholder="Account holder's Name">
                    <button type="button" class="btn-add-pay">Add Account</button>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
