<!DOCTYPE html>
<html>
<head>
    <title>Become Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">


</head>

<body>
<div id="becomeguide">

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="homeUser.html">
                        <img src="../assets/img/guideon.png" alt="">
                    </a>
                </div>

                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="homeUser.html">Near Me</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <div id="guide">
                <h1> Complete Your Profile</h1>
                <div class="form-guide">
                    <select name="" class="dd">
                        <option value="0">Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                    </select>
                    <input type="text" name="guide" class="inputtext single" placeholder="Experience">
                    <input type="text" name="guide" class="inputtext single" placeholder="Last Education">
                    <input type="text" name="guide" class="inputtext single" placeholder="Languange Ability">
                    <p>Upload our tour guide Certificate here</p>

                    <input type="file" id="myFile"><br><br>

                    <button type="button" class="btn-add-guide"> <a href="profile.html">Submit</a></button>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myFile");
        x.disabled = true;
    }
</script>

</body>
</html>
