<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/js/jquery-ui.css" type="text/css"/>
    <script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../assets/js/jquery-ui.js" type="text/javascript"></script>

</head>

<body>

<nav>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <a href="homeUser.html">
                    <img src="../assets/img/guideon.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div class="pick">
        <div class="where">
            <i class="fa fa-map-o icon"></i>
            <input type="text" id="place" class="lokasi" placeholder="Where to?">
        </div>
    </div>
</section>

<section>
    <div id="peta">
        <div id="googleMap"></div>
    </div>
</section>

<section>
    <a href="destination.html">
        <button id="guidedeket" type="button"> Chose Destination
        </button>
    </a>
</section>

<script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
    // fungsi initialize untuk mempersiapkan peta
    function initialize() {
        var propertiPeta = {
            center: new google.maps.LatLng(-8.265243, 113.0929783, 9),
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var peta = new google.maps.Map(document.getElementById("googleMap"), propertiPeta);
    }

    // event jendela di-load
    google.maps.event.addDomListener(window, 'load', initialize);

</script>


</body>
</html>
