<!DOCTYPE html>
<html>
<head>
    <title>Near Be Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
<div class="container">

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="homeUser.html">
                        <img src="../assets/img/guideon.png" alt="">
                    </a>
                </div>
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <section>
        <div class="guidenear">
            <div class="row">

                <div class="column">
                    <div class="card">
                        <img src="../assets/img/mase.png" alt="Avatar" style="width:100%;">
                        <p>Mas Fatah</p>
                        <span class="time-left">Certified</span>
                        <br>
                        <div class="ratting">
                            <span class="heading">User Rating</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <p>5 Km </p>
                            <button class="btn-book"><a href="booking.html">Book</a></button>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../assets/img/mase.png" alt="Avatar" style="width:100%;">
                        <p>Mas Fatah</p>
                        <span class="time-left">Certified</span>
                        <br>
                        <div class="ratting">
                            <span class="heading">User Rating</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <p>5 Km </p>
                            <button class="btn-book"><a href="booking.html">Book</a></button>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../assets/img/mase.png" alt="Avatar" style="width:100%;">
                        <p>Mas Fatah</p>
                        <span class="time-left">Certified</span>
                        <br>
                        <div class="ratting">
                            <span class="heading">User Rating</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <p>5 Km </p>
                            <button class="btn-book"><a href="booking.html">Book</a></button>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../assets/img/mase.png" alt="Avatar" style="width:100%;">
                        <p>Mas Fatah</p>
                        <span class="time-left">Certified</span>
                        <br>
                        <div class="ratting">
                            <span class="heading">User Rating</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <p>5 Km </p>
                            <button class="btn-book"><a href="booking.html">Book</a></button>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../assets/img/mase.png" alt="Avatar" style="width:100%;">
                        <p>>Mas Fatah</p>
                        <span class="time-left">Certified</span>
                        <br>
                        <div class="ratting">
                            <span class="heading">User Rating</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <p>5 Km </p>
                            <button class="btn-book"><a href="booking.html">Book</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
