<!DOCTYPE html>
<html>
<head>
    <title>Payment Final</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/js/jquery-ui.css" type="text/css"/>
    <script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../assets/js/jquery-ui.js" type="text/javascript"></script>


</head>
<body>

<nav>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <a href="homeUser.html">
                    <img src="../assets/img/guideon.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="final-payment">
    <div class="card">
        <div class="row">
            <div class="col-50">
                <label><h3>Total(1 Item)</h3></label>
            </div>
            <div class="col-50">
                <label><h3>Rp450.000</h3></label>
            </div>
        </div>
        <h3>Papuma Beach</h3>
        <h4>Jember: Customizable Half-Day Tour Nature</h4>
        <h5>Jember: Customizable Half-Day Tour Nature</h5>
        <h5>December 28, 2019 7:00 AM</h5>

        <div class="row rincian">
            <div class="col-50">
                <h5>1 x Group up to 5 (1 Person)</h5>
            </div>
            <div class="col-50">
                <h4 class="price1">Rp450.000</h4>
            </div>
        </div>

        <h5 class="language">Language: English</h5>


        <div class="row rincian">
            <div class="col-50">
                <h4>Payment Method</h4>
            </div>
            <div class="col-50">
                <h4>Automatic Transfer </h4>
            </div>
        </div>

        <div class="row rincian">
            <div class="col-50">
                <h3>Virtual Account Number</h3>
            </div>
            <div class="col-50">
                <h3>25679897900493041</h3>
            </div>
        </div>



    </div>
</div>
</body>
</html>
