<!DOCTYPE html>
<html>
<head>
    <title>Review Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="container">

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="homeUser.html">
                        <img src="../assets/img/guideon.png" alt="">
                    </a>
                </div>
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="homeUser.html">Near Me</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="review">

            <div class="rev">
                    <div class="reviwe-up">
                        <img src="../assets/img/jember.jpg">
                        <h3>Jember</h3>

                        <div class="guidenya">
                            <img src="../assets/img/mbake.png" alt="Forest">
                            <h4>Jane Foster </h4>
                            <p>Certified</p>
                        </div>
                        <div class="detailnya">
                            <div class="waktu">
                                <i class="fa fa-calendar icon"></i>
                                <p>16/11/2019</p>
                            </div>
                            <div class="biaya">
                                <i class="fa fa-get-pocket icon"></i>
                                <p>Rp500.000,00</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
