<!DOCTYPE html>
<html>
<head>
    <title>Wishlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
</head>

<body>
<div class="container">

</div>

<nav>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <a href="homeUser.html">
                    <img src="../assets/img/guideon.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="wish">
            <div class="card">
                <div class="row">
                    <div class="col-25">
                        <img src="../assets/img/papuma.jpg" alt="Avatar" style="width:100%;">
                    </div>
                    <div class="col-75">
                        <h3>Papuma Beach</h3>
                        <h4>Jember: Customizable Half-Day Tour Nature</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos fugit libero magni,
                            quia sequi similique tempore vitae. Ad consequatur dicta expedita ipsum
                            iste neque officia omnis placeat quibusdam saepe.</h5>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row">
                    <div class="col-25">
                        <img src="../assets/img/papuma.jpg" alt="Avatar" style="width:100%;">
                    </div>
                    <div class="col-75">
                        <h3>Papuma Beach</h3>
                        <h4>Jember: Customizable Half-Day Tour Nature</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos fugit libero magni,
                            quia sequi similique tempore vitae. Ad consequatur dicta expedita ipsum
                            iste neque officia omnis placeat quibusdam saepe.</h5>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="row">
                    <div class="col-25">
                        <img src="../assets/img/papuma.jpg" alt="Avatar" style="width:100%;">
                    </div>
                    <div class="col-75">
                        <h3>Papuma Beach</h3>
                        <h4>Jember: Customizable Half-Day Tour Nature</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos fugit libero magni,
                            quia sequi similique tempore vitae. Ad consequatur dicta expedita ipsum
                            iste neque officia omnis placeat quibusdam saepe.</h5>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="row">
                    <div class="col-25">
                        <img src="../assets/img/papuma.jpg" alt="Avatar" style="width:100%;">
                    </div>
                    <div class="col-75">
                        <h3>Papuma Beach</h3>
                        <h4>Jember: Customizable Half-Day Tour Nature</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos fugit libero magni,
                            quia sequi similique tempore vitae. Ad consequatur dicta expedita ipsum
                            iste neque officia omnis placeat quibusdam saepe.</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
