<!DOCTYPE html>
<html>
<head>
    <title>Home Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/grid.css">
    <link rel="icon" type="image/png" href="../../assets/img/guideonsq.png">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
<div class="container">

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="homeGuide.html">
                        <img src="../../assets/img/guideon.png" alt="">
                    </a>
                </div>
                <ul>
                    <li><a href="profileGuide.html">Profile</a></li>
                    <li><a href="inboxGuide.html">Inbox</a></li>
                    <li><a href="tourist.html">Tourist</a></li>
                    <li><a href="myTours.html">My Tours</a></li>
                    <li><a href="event.html">Events</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="guide">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <a href="event.html">
                            <img src="../../assets/img/event.png" alt="Avatar" style="width:100%;">
                            <h3>Event</h3>
                        </a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a href="myTours.html">
                            <img src="../../assets/img/mytour.png" alt="Avatar" style="width:100%;">
                            <h3>My Tours</h3>
                        </a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a href="tourist.html">
                            <img src="../../assets/img/tourist.png" alt="Avatar" style="width:100%;">
                            <h3>Tourist</h3>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

</body>
</html>
