@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');


@media only screen and (max-width: 500px) {

    body {
        grid-template-areas:
            "header"
            "footer"
            "body";
    }

}

@media only screen and (max-width: 500px) {

    body {
        grid-template-areas:
            "header"
            "footer"
            "body";
    }

    ul, .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .container {
        text-align:center;
    }

}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
a{
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro';
    background-color: white;
    margin:0;
    color: #8e9191;
}

nav {
    height: auto;
    /*min-height: 50px;*/
    background: #FFF;
    color: #1e88e5;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav .logo {
    padding: 7.5px;
    display: inline-block;
    float: left;
}

nav .logo img {
    max-height: 30px;
}
.logo{
    float: left;
}

nav ul {
    display: inline-block;
    padding: 0px;
    list-style: none;
    float: right;
}

nav ul li {
    float: right;
    padding-right: 30px;
    padding-bottom: auto;
    text-decoration: none;
}

#banner img {
    background-size: auto;
    width: 100%;
    height: 10%;
    max-height: 500px;
    position: relative;
    top: 10px;
    bottom: -20px;
}

.brdrbnr {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.desc {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: x-large;
}

.popup {
    display: none;
    position: absolute;
    padding: 30px;
    width: 50%;
    top: 100px;
    left: 25%;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
}

.popup #close {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 5px 10px;
    background: red;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

#black {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}

.inputtext {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    /*margin: 5px 0;*/
    transition: .3s ease;
}

.inputtext:focus {
  padding-left: 15px;
    border: 1px solid #1e88e5;
    /*margin: 5px 0;*/
}

.inputtext.single {
    margin: 5px 0;
}

.dd {
    background: #eee;
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 7.5px;
    border: 1px solid #ddd;
}

#labelcheck{
  color: #000;
}

.about{
    list-style: none;
}


section .container .deskripsi {
    display:grid;
    list-style-type:none;
    padding:2%;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin-left: 20%;
}


footer .about {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-area: footer;
}

#peta{
    background-position: center;
    background-size: cover;
}

#maukemana{
    max-width: 1200px;
    background-color:white;
    color: #8e9191;
    border: 2px solid;
    padding: 6px 25px;
    text-align: left;
    font-size: 18px;"
}

#guidedeket{
    width: 1350px;
    background-color:#353a50;
    color: #8e9191;
    border: 2px solid;
    padding: 15px 25px;
    text-align: left;
    font-size: 12px;
}