@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');


@media only screen and (max-width: 500px) {

    body {
        grid-template-areas: "header" "footer" "body";
    }

}

@media only screen and (max-width: 500px) {

    body {
        grid-template-areas: "header" "footer" "body";
    }

    ul, .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .container {
        text-align: center;
    }

}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

a {
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro';
    background-color: white;
    color: #8e9191;
    grid-area: body;
}

nav {
    height: auto;
    /*min-height: 50px;*/
    background: #FFF;
    box-sizing: border-box;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav .navbar-brand {
    padding: 7.5px;
    display: inline-block;
    float: left;
}

nav .navbar-brand img {
    max-height: 30px;
}

.navbar-brand {
    float: left;
}

nav ul {
    display: inline-block;
    padding: 0px;
    list-style: none;
    float: right;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    text-decoration:none;
    color: #ffbf41;
}


.navbar ul li a:visited {
    color: #2aabd2;
}

nav ul li {
    float: right;
    padding-right: 50px;
    padding-bottom: auto;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 15px;
}

/* --------------- INDEX ---------------------- */
#banner img {
    background-size: auto;
    width: 100%;
    height: 10%;
    max-height: 500px;
    position: relative;
    top: 10px;
    bottom: -20px;
}

.brdrbnr {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.desc {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: x-large;
}

.keterangan {
    grid-template-columns: repeat(2, auto);
}


section .container .keterangan .deskripsi {
    padding: 2%;
    margin-left: 10%;
}

section .container .keterangan #works {
    float: right;
    margin-right: 15%;
}

section .container .keterangan img {
    float: right;
    margin-left: -50%;
    margin-right: 15%;
    margin-top: -15%;
    max-height: 125px;
}

.popup {
    display: none;
    position: absolute;
    padding: 30px;
    width: 50%;
    top: 100px;
    left: 25%;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
}

#poplogin, #popregister h3 {
    text-align: center;
}

.popup #close {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 5px 10px;
    background: red;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

#black {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}

.inputtext {
    width: 96.5%;
    padding: 10px;
    border: 1px solid #ddd;
    transition: .3s ease;
    margin-right: 10px;
}

.inputtext:focus {
    padding-left: 15px;
    border: 1px solid #1e88e5;
    /*margin: 5px 0;*/
}

.inputtext.single {
    margin: 5px 0;
}

.dd {
    background: #eee;
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 7.5px;
    border: 1px solid #ddd;
}

#labelcheck {
    color: #000;
    font-size: 12px;
}

#poplogin .btn-masuk {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #3aa8ff;
    border: none;
}

#popregister .btn-masuk {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #3aa8ff;
    border: none;
}


.about {
    list-style: none;
}

footer .ket {
    background-color: #8e9191;
    color: #FFFFFF;
    padding: 5px;
}

footer .ket .about {
    display: grid;
    list-style-type: none;
    margin-right: 52.5%;
    grid-area: footer;
    text-align: right;
}

footer .ket .follow {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-area: footer;
    float: right;
    margin-right: 42.5%;
    margin-top: -6%;
}

footer .bottom {
    text-align: center;
    font-size: 14px;

}

/*-----------------------HOME USER-------------------*/

/*#peta img {
    background-position: center;
    background-size: cover;
    width: 100%;
}*/

.icon {
    background: #0ec9ff;
    padding: 10px;
    color: white;
    min-width: 40px;
    text-align: center;
}


#googleMap {
    width: 100%;
    height: 500px;
}

.where {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;

}

.where #place {
    width: 100%;
}

.jamtgl {
    display: flex;
    grid-template-columns: repeat(2, auto);
}

.where #date {
    width: 80%;
    margin-bottom: 1px;
}

.where #time {
    width: 100%;
    margin-bottom: 1px;
}

.pick .inputtext {
    width: 100%;
    padding: 12px;
    outline: none;
    height: 10px;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

#guidedeket {
    width: 100%;
    background-color: #353a50;
    color: #FFFFFF;
    border: 2px solid;
    padding: 25px 25px;
    text-align: center;
    font-size: 12px;
}


/* ----------Nearbe Guide -------------- */

section .guidenear {
    margin: 0 auto;
    padding: 0 20px;
}


.ratting .checked {
    color: orange;
}

.guidenear .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.guidenear .card .btn-book {
    padding: 1%;
    width: 100px;
    background-color: #2aabd2;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    border-bottom: none;

}


.guidenear * {
    box-sizing: border-box;
}

.guidenear .column {
    float: left;
    width: 20%;
    padding: 0 10px;

}

.guidenear .row {
    margin: 0 -5px;
    margin-top: 5%;
}

.guidenear .row:after {
    content: "";
    display: table;
    clear: both;
}

.guidenear .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 10%;


}



/* ---------- Review -------------- */

.icon .review {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.review {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;

}

.review .rev {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.review-up {

    margin-top: 10%;
    object-position: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
}

.rev img {
    border: 1px solid #ddd;;
    padding: 5px;
    width: 150px;
    max-width: 150px;
    object-position: left;
}

.review-up .guidenya img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    max-width: 150px;
    align: left;
}

.review-up img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.review .waktu .icon {
    padding: 0px;
    color: #fbffff;
    min-width: 20px;
    text-align: center;
}

.review .biaya .icon {
    padding: 0px;
    color: #fbffff;
    min-width: 20px;
    text-align: center;
}

.reviwe-up {
    width: 30%;
    background-color: #2aabd2;
    border-bottom: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    font-family: "Source sans pro";
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-position: center;
}

/* ----------History -------------- */

.history .icon {
    padding: 10px;
    background: #0ec9ff;
    color: white;
    min-width: 50px;
    text-align: center;
}

.history {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
}

.history .upcoming {
    width: 90%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.history .recent {
    width: 90%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 2%;
}

.history .upcoming h2 {
    width: 100%;
    background-color: #2aabd2;
    border-bottom: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    padding: 10px;
}

.history .recent {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.history .recent h2 {
    width: 100%;
    background-color: #2aabd2;
    border-bottom: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    padding: 10px;
}

.history .collapsible {
    background-color: #ffffff;
    color: #444444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .history .collapsible:hover {
    background-color: #ffffff;
}

.history-up{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.history-up h5 {
    padding: 10px;
    background-color: #2aabd2;
    color: white;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px ;
}

.history #detail {
    border: #dedede solid 1px;
    background-color: #ffffff;
    color: #86c0c1;
    width: 85%;
    margin-left: 2.5%;
    text-align: left;
    padding-left: 5%;

}

.history #det {
    border: #dedede solid 1px;
    background-color: #ffffff;
    color: #86c0c1;
    width: 85%;
    margin-left: 2.5%;
    text-align: left;
    padding-left: 5%;

}

.history img {
    border: 1px solid #ddd;;
    padding: 5px;
    max-width: 100px;
}

.history hr.onepixel {
    border-top: 1px solid #d8e2e8;
    height: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.history .guidenya img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    align: left;
}

.history .guidenya{
    text-align: center;
    margin-left: 5%;
}

.history-up img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.history .detail{
    margin-left: 30%;
}

.history-up .kotanya{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 30%;
}

.history-up .kotanya h3{
    margin-left: 2%;
}

.history .waktu .icon {
    padding: 15px;
    color: #fbffff;
    min-width: 30px;
    text-align: center;
}

.history .biaya .icon {
    padding: 15px;
    color: #fbffff;
    min-width: 30px;
    text-align: center;
}

.history .detailnya {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;

}

.history .waktu{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}
.history .biaya {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

/* ----------INBOX -------------- */

section .inbox {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.inbox .container {
    background-color: #dcf7ff;
    border-bottom-color: #dedede;
    border-radius: 5px;
    padding: 3px;
    margin: 10px 0;
}

.inbox .darker {
    background-color: #f6fcff;
    border-bottom-color: #dedede;
}

.inbox .container::after {
    content: "";
    clear: both;
    display: table;
}

.inbox .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.inbox .time-right {
    float: right;
    color: #aaa;
}


/* ----------chatroom -------------- */

.chatroom h1 {
    text-align: center;
}

section .chatroom {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.chatroom .container {
    background-color: #dcf7ff;
    border-bottom-color: #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chatroom .darker {
    background-color: #f6fcff;
    border-bottom-color: #dedede;
}

.chatroom .container::after {
    content: "";
    clear: both;
    display: table;
}

.chatroom .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chatroom .container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.chatroom .time-right {
    float: right;
    color: #aaa;
}

.chatroom .time-left {
    float: left;
    color: #999;
}

.chatroom #blsanchat{
    height: 50px;
    width: 100%;
    border: none;
}

.chatroom .blschat{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.chatroom .blschat img{
    height: 20%;
    width: 20%;
    margin-left: 3%;
}
/* ----------Profil -------------- */


#bio {
    background-color: #ccdae8;
}


.bio {
    margin-left: 35%;
    margin-bottom: 9%;

}

.bio h3 {
    margin-top: 8%;
}

#profile h1 {
    text-align: center;
}

.container #profile {
    grid-area: body;
    width: 80%;
    height: auto;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 4%;
}

.container #profile .foto-profile img {
    max-height: 200px;
    max-width: 200px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100px;
    float: left;
}

.collapsible {
    background-color: #a3deff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

}

.active, .collapsible:hover {
    background-color: #cbeaff;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
    object-position: left;
}

.content .btn-add-pay {
    background-color: #3aa8ff;
    color: #fff;
    border: none;
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;

}

.active, .content .btn-add-pay:hover {
    background-color: #0ec9ff;
}

.content .btn-add-pay a:visited {
    color: #fff;
}

.content .form-pass {
    margin-right: 7%;
    margin-left: 5%;
}

.content .btn-repass {
    background-color: #3aa8ff;
    color: #fff;
    border: none;
    float: right;
    margin-bottom: 5%;
    padding: 10px;
    margin-top: 2%;

}

.active, .content .btn-repass:hover {
    background-color: #0ec9ff;
}

.bio .btn-beguide {
    background-color: #3aa8ff;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 2%;
}

.active, .btn-beguide:hover {
    background-color: #0ec9ff;
}

.bio .btn-beguide a:visited {
    color: #FFFFFF;
}

#pay {
    background-color: #d8e2e8;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container #payment {
    width: 70%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1%;
    padding: 3%;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;

}

.container #payment h1 {
    text-align: center;
}

.container #payment .form-pay {
    object-position: center;
    position: center;
    margin-left: 12%;
    margin-right: 12%;
}

#payment .btn-add-pay {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #3aa8ff;
    border: none;
}

#payment .inputtext {
    width: 97%;
    border: 1px solid #ddd;
    transition: .3s ease;
}

#payment .dd {
    background-color: #3aa8ff;
    width: 100%;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #fff;
    transition: .3s ease;
}


#becomeguide {
    background-color: #d8e2e8;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container #guide {
    width: 70%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1%;
    padding: 3%;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;

}


.container #guide h1 {
    text-align: center;
}

.container #guide .form-guide {
    object-position: center;
    position: center;
    margin-left: 12%;
    margin-right: 12%;
}

#guide .btn-add-guide {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #3aa8ff;
    border: none;
}

#guide .inputtext {
    width: 97%;
    border: 1px solid #ddd;
    transition: .3s ease;
}

#guide .dd {
    background-color: #3aa8ff;
    width: 100%;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #fff;
    transition: .3s ease;
}

#guide #myFile {
    background-color: #3aa8ff;
    width: 97%;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #fff;
    transition: .3s ease;
}

#guide .btn-add-guide a:visited {
    color: #FFFFFF;
}


/* ----------Radio Button di Payment -------------- */
.select {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
    margin-left: 10%;
}

.select img {
    max-height: 20px;
    max-width: 20px;
}

.select input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.select:hover input ~ .checkmark {
    background-color: #ccc;
}

.select input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.select input:checked ~ .checkmark:after {
    display: block;
}

.select .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}




/*----------------Destination Admin-------------------*/


 .place * {
     box-sizing: border-box;
 }

.place .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.place .row {
    margin: 0 -5px;
}

.place .row:after {
    content: "";
    display: table;
    clear: both;
}

.place .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 10%;
}

.btn-new-place {
    border-bottom: none;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 80%;
    background-color: #3aa8ff;
    color: #fff;
    border: none;
    margin-right: 5%;
    min-height: 15px;
    padding: 15px;
}

.place .btn-edit {
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #3aa8ff;
    color: #fff;
    border: none;
    margin-right: 5%;
    min-height: 15px;
    padding: 10px;
    min-width: 30%;
    text-align: center;
}

.btn-add-dest {
    background-color: #3aa8ff;
    color: #fff;
    border: none;
    float: right;
    margin-bottom: 10%;
    padding: 10px;
    width: 100%;

}

.active, .btn-add-dest:hover {
    background-color: #0ec9ff;
}

.btn-add-dest a:visited {
    color: #fff;
}




/*--------------------------GUIDE-----------------*/
/*-----------------------HOME GUIDE--------------*/

.guide * {
    box-sizing: border-box;
}

.guide .column {
    float: left;
    width: 25%;
    padding: 0 10px;

}

.guide .row {
    margin: 0 -5px;
    margin-left: 15%;
    margin-top: 10%;
}

.guide .row:after {
    content: "";
    display: table;
    clear: both;
}

.guide .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 10%;

}

/*-----------------------TOURIST--------------*/

.tourist * {
    box-sizing: border-box;
}

.tourist .column {
    float: left;
    width: 20%;
    padding: 0 10px;

}

.tourist .row {
    margin: 0 -5px;
    margin-top: 5%;
}

.tourist .row:after {
    content: "";
    display: table;
    clear: both;
}

.tourist .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 10%;


}


/*clear fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
